import React from 'react';

const <%= componentName %> = ({ <%= propsList %> }) => {
    return (
        <div>
            <%- innerJSX %>
        </div>
    );
};

export default <%= componentName %>;
